{% extends "layout.html" %}

{% block underHeader %}
<div class="package-bar">
  <div class="o-grid-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="12">
        <div class="package-bar__text">
          FT Series <a href="https://www.ft.com/content/a2e41aa4-146c-11e7-80f4-13e067d5072c">Management’s missing women</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block article_body %}
{% markdown %}

<figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/ftcms%3Adc372216-1f97-11e7-a454-ab04428977f9?source=ig&fit=scale-down&width=700" />

  <figcaption class="o-typography-caption">FT graphic: Kari-Ruth Pedersen</figcaption>
</figure>

 Diversity has become a highly publicised corporate goal, but progress has been slow. As part of our series ‘[Management’s missing women](https://www.ft.com/content/a2e41aa4-146c-11e7-80f4-13e067d5072c)’, we spoke with executives tasked with building diversity, as well as women and minorities attempting to advance their careers. This is a collection of their stories, taken from interviews and FT reader submissions.

 If you would like to include your own thoughts, [share them here](http://financialtimes.polldaddy.com/s/corporate-diversity-2). This feature will be updated with new submissions regularly.

<div style="text-align: center">
  <a role="button" href="http://financialtimes.polldaddy.com/s/corporate-diversity-2" class="form-button">Share your experiences</a>
</div>

 _Interviews and submissions have been condensed and edited for clarity._

{% endmarkdown %}
{% for i in berthaData %}
{% include "card/template.html" -%}
{% endfor %}
{% markdown %}

_Join FT commentators in London on April 19 for a conversation about women in the corporate world. [Tickets available here](https://www.eventbrite.com/e/ft-engage-closing-the-gender-gap-tickets-32599224157)._

{% endmarkdown %}

{% endblock %}
