{% if i.blurb %}

<hr />

  <div class="card" style="background:#fff;">
    {% if i.name %}<h1>{{ i.name }}{% else %}<h1>Anonymous</h1>{% endif %}
   
    {% if i.title %}<p class="job">{{ i.title }}{% if i.companyname %}, {{ i.companyname }}{% endif %}{% elseif i.companyname %}<p>{{ i.companyname }}</p>{% endif %}
    {% if i.city %}<p class="location">{{ i.city }}{% if i.country %}, {{ i.country }}{% endif %}{% elseif i.country %}<p>{{ i.country }}</p>{% endif %}
    
    {% if i.industry %}<p>Category: {{ i.industry }}</p>{% endif %}

    <div><h1 style="text-align:center;">&ldquo;</h1></div>
    {{ i.blurb | safe }}
    <div><h1 style="text-align:center;">&rdquo;</h1></div>

  </div>

{% endif %}